<h1>Listing all employees</h1>
<table>
  <tr>
    <th>Employee#</th>
    <th>Name</th>
    <th>Birth date</th>
    <th>Gender</th>
    <th>Hired at</th>
  </tr>
  <% @employees.each do |employee|%>
    <tr>
      <td><%= employee.emp_no%></td>
      <td><%= employee.last_name + ", " +  employee.first_name%></td>
      <td><%= employee.birth_date%></td>
      <td><%= employee.gender%></td>
      <td><%= employee.hire_date%></td>
    </tr>
  <% end %>
</table>

