<!DOCTYPE html>
<html>
  <head>
    <title>MysqlEmployeeSample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% flash.each do |message_type, message| %>
      <div class="flash-<%= message_type %>"><%= message %></div>
    <% end %>

  </body>
</html>
